<!DOCTYPE html>
<html>
<head>
<title>コレクションメニュー</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- BootstrapのCSS読み込み -->
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src='/javascripts/bootstrap.min.js'></script>
<script src='/javascripts/bootstrap.js'></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />
<script>
	function showEmployeeInfo(){
		var width = 700;
		var height = 400;
		var leftPosition = (screen.width / 2) - (width / 2);
		var topPosition = (screen.height / 2) - (height / 2);
		window.open('/collection_management/employeeInfo', 'EmployeeInfo', 'width=' + width + ', height=' + height + ', top=' + topPosition + ', left=' + leftPosition);
	}
</script>
</head>
<body>
	<div class="container">
		<h1>メニュー</h1>
		<div class="list-group">
			<a href="#" class="list-group-item">部署管理</a>
			<a href="#" class="list-group-item">職級管理</a>
			<a href="#" class="list-group-item">業務先</a>
			<a href="#" class="list-group-item">出社状況管理</a>
			<a href="#" class="list-group-item" onclick="showEmployeeInfo()">社員情報管理</a>
		</ul>
	</div>	
</body>
</html>
