<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
    <!-- jQuery読み込み -->
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
    <script src='/javascripts/bootstrap.min.js'></script>
		<script src='/javascripts/bootstrap.js'></script>
		
  </head>
  <body>
		<div class="container">
			<h1><%= title %></h1>
			<form action="/login" name="login_form" method="POST">
			<div class="form_group">
				<label for="username">Mail Address</label>
				<input type="email" class="form-control" id="username" name="username" placeholder="Enter email"/>
			</div>
			<div class="form_group">
				<label for="username">Password</label>				
				<input type="password" class="form-control" id="password" name="password" placeholder="Password"/>
			</div>

			<input name="submit" class="btn btn-primary" type="submit" value="login"  />
			</form>
			<h2><%= login_result%></h2>
		</div>
  </body>
</html>
