<!DOCTYPE html>
<html>
<head>
<title>勤怠管理ページ</title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- BootstrapのCSS読み込み -->
<link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src='/javascripts/bootstrap.min.js'></script>
<script src='/javascripts/bootstrap.js'></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css" />

</head>
<body>

	<h1>メニュー</h1>
	<div class="container">
		<ul>
			<li><a href="/attendance_management">勤怠管理</a></li>
			<li><a href="">交通費請求</a></li>
			<li><a href="">設定</a></li>
		</ul>
	</div>	
</body>
</html>
