<!DOCTYPE html>
<html>
<head>
<title>コレクション管理 - 出社状況</title>
<!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel='stylesheet' type="text/css" href='/stylesheets/bootstrap.min.css'/>
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-theme.min.css" />  
<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-table.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
<script src='/javascripts/bootstrap.min.js'></script>
<script src='/javascripts/bootstrap-table.js'></script>
<script src='/javascripts/bootstrap-table-ja-JP.js'></script>
<script>
$(function(){  
  var collectionTable = $('#collectionTable');

  function displayEditModal(isAdd, rowIndex, rowData) {
    if (isAdd) {
        $('#editModalTitle').text('Add user');
        $('#addButton').show();
        $('#updateButton').hide();
        // $('#rowIndex').val('');
        $('#rowId').val('');
    } else {
        $('#editModalTitle').text('Update user');
        $('#addButton').hide();
        $('#updateButton').show();
        $('#rowIndex').val(rowIndex);
        $('#rowId').val(rowData.id);
    }
    $('#editModal').modal('show');
  }
  
  var initDataList = [
      <%
          for(var i = 0; i < attendanceStates.length; i++){      
      %>
      {
          id: "<%=attendanceStates[i]._id%>",
          state: "<%=attendanceStates[i].state%>",
          state_value:"<%=attendanceStates[i].state_value%>",
      },
      <%
      }
      %>
  ]
  collectionTable.bootstrapTable({
      toolbar: '#toolbar',
      data: initDataList,
      columns: [
          {
              field: 'selected',
              checkbox: true,
              align: 'center'
          },
          {
              field: 'state',
              title: 'State'
          },
          {
              field: 'state_value',
              title: 'State Value'
          }
      ]
  }).on('click-row.bs.table', function (event, row, element, field) {
      displayEditModal(false, element.index(), row);
  });
});
</script>
</head>
<body>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">出社状況管理</div>
    <div class="panel-body">
      <form class="form-horizontal">
        <div class="form-group">
          <div class="col-sm-12">
            <div id="toolbar">
              <input class="btn btn-default" type="button" id="deleteButton" value="削除" />
              <input class="btn btn-default" type="button" id="addModalButton" value="追加" />
            </div>
          <table id="collectionTable"/>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--追加・更新のModalダイアログ -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <!--Modal ヘッダー-->
      <div class="modal-header">
        <!--終了ボタン-->
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <!--Modal タイトル-->
        <h3 class="modal-title" id="editModalTitle">Title</h3>
        <input type="hidden" id="rowIndex" value="1" />
        <input type="hidden" id="rowId" value="" />
      </div>
      <!--Modal 内容-->
      <div class="modal-body">
        <form class="form-horizontal" role="form" onsubmit="return false;">
          <div class="form-group">
            <label class="control-label col-sm-4">Attendance States: </label>
            <div class="col-sm-5">
              <select class="form-control" id="attendanceStates">
                
              </select>
            </div>
          </div>
        </form>
      </div>
      <!--ボタン配置-->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="addButton">Add</button>
        <button type="button" class="btn btn-primary" id="updateButton">Update</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>